.center {
    align-items: center;
    justify-content: center;
    
    & .d75 {
        @extend .center;
        @extend .flex;
        width: 75%;
    }

    &-news {
        @extend .center;
        text-align: center;
        padding: 15vH 0%;

        & form {
            margin: 5vH 0%;
        }
    }
}