.flex {
    display: flex;
    
    &--col {
        @extend .flex;
        flex-direction: row;

        &-2 {
            @extend .flex--col;
            flex-wrap: wrap;
            & nav, div, article, aside {
                width: $p50;
            }
        }

        &-3 {
            @extend .flex--col;
            flex-wrap: wrap;
            & > nav, > div, > aside {
                width: $p33;
            }
        }

        &-4 {
            @extend .flex--col;
            flex-wrap: nowrap;
            & > nav, > div, > aside, > article {
                width: $p24;
                &:nth-child(3) {
                    width: 30%;
                }
            }
        }
    }

    &--row {
        @extend .flex;
        flex-direction: column;

        & #p1 {
            width: $p75;
        }

        & #b1 {
            margin-right: auto;
            margin-left: $p12;
            margin-top: $ParPx;
        }

        & #b2 {
            margin-right: auto;
            margin-left: $p24;
            margin-top: $ParPx;
        }
    }

    @media screen and (max-width: $laptop1434){
       .phoneside {
           width: 40%;
           padding-top: 18vH;
        }
        .homeside {
            width: 53%;
        }
    }

    @media screen and (max-width: $laptop1024){
        
        .weareside {
            width: 40%;
        }

        .we {
            width: 60%;
        }

        #b2 {
            margin-left: 12%;
        }

        &--col-3 article {
            width: 40%;
        }
    }

    @media screen and (max-width : $tablet768){

        .homeside {
            width: 100%;
            padding: 0;
            align-self: center;
            text-align: center;
        }

        .phoneside {
            padding: 0;
            margin: auto;
        }

        #b1 {
            margin: 3vH auto;
        }
    }

}
