.flex {
    display: flex;
    
    &--col {
        @extend .flex;
        flex-direction: row;
        &-2 {
            @extend .flex--col;
            flex-wrap: wrap;
            & nav, div, article, aside {
                width: $p50;
            }
        }

        &-3 {
            @extend .flex--col;
            flex-wrap: wrap;
            & > nav, > div, > aside {
                width: $p33;
            }
        }

        &-4 {
            @extend .flex--col;
            flex-wrap: wrap;
            & > nav, > div, > aside, > article {
                width: $p24;
            }
        }
    }

    &--row {
        @extend .flex;
        flex-direction: column;

        & #p1 {
            width: $p75;
        }

        & #b1 {
            margin-right: auto;
            margin-left: $p12;
            margin-top: $ParPx;
        }

        & #b2 {
            margin-right: auto;
            margin-left: $p24;
            margin-top: $ParPx;
        }
    }
}