.socials {
    @extend .abso;
    width: fit-content;
    left: 3%;
    bottom: 17%;
    transform: translate(-50%, 0);

    & > * {
        margin: 100% 0%;
    }

    &:after {
        background: $BlueDeg;
        content: "";
        display: block;
        width: 29%;
        height: 4vh;
        margin: 40% 33%;
    }

    @media screen and (max-width : $tablet768)
    {
        bottom: 30%;
    }

    @media screen and (max-width : 400px)
    {
        &.flex { // appelle du flex pour override le display flex
            display: none;
        }
        
    }
}